<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">To Do</div>
            <div class="menu">menu</div>
        </div>
        <div class="content">
        </div>
        <div class="edit-card-modal">
            <div class="edit-card-content">
                <div class="edit-card-top">
                    <div>Edit Card</div>
                    <i class="material-icons edit-card-close">close</i>
                </div>
                <div class="edit-card-middle">
                    <label for="edit-card-title" class="edit-card-title-label">Title</label>
                    <textarea id="edit-card-title" data-card-id="" data-column-id=""></textarea>
                </div>
                <div class="edit-card-bottom">
                    <button class="edit-card-save">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>